/* body {
  background-color: #aaa;
} */

#plus {
  text-align: center;
  justify-content: center;
  margin: 30px 0 30px 0 ;

}

#plus > i {

  background: rgba(0, 181, 204, 1);
  color: #fff;
  border: 0px solid rgba(0, 181, 204, 1);
  padding: 10px;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  cursor: pointer;
}

h2 {
  margin-top: 3px;
}

#plus > i:hover {
background: rgba(129, 207, 224, 1);
}

#notes {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25% */
}

@media (max-width: 768px) {
  #notes {
    grid-template-columns: 50% 50%
  }
}

@media (min-width: 769px) {
  #notes {
    grid-template-columns: 25% 25% 25% 25%
  }
}

.note {
  padding: 10px;
  margin: 5px;
  position: relative;
}

.shadowbox {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.pin {
  position: absolute;
  /* width: 10px; */
  right: 5%;
  top: 5%;
  transform: rotate(45deg);
  transition: all 0.2s linear;
}

.pin:hover {
  transform: rotate(0);
}

.pinned {
  transform: rotate(0);
  color: blue;
}

.trash {
  position: absolute;
  /* width: 10px; */
  right: 5%;
  bottom: 5%;
  transition: all 0.2s ease-in-out;

}

.trash:hover {
  color: grey;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid white;
  border-radius: 15px;
  width: 80%; 
  position: relative;
}

.modal-content > p {
  margin: 1rem 0;
}

#close {
  position: absolute;
  top: 0;
  right: 14px;
  color: #aaa;
  float: right;
  font-size: 42px;
  font-weight: bold;
  cursor: pointer;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
